.Menu
 width: 25vw
 height: 100vh
 overflow: hidden
 position: fixed
 &-WrapperMenu
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 100%
 &-Logo
  width: 100px
  img
   width: 100%