@import '../var'
.Info
 &-Title
  h3
   color: #ffffff
   font-weight: 700
   font-size: 17px
   line-height: 26px
   letter-spacing: 1px
   margin-bottom: 40px
 &-footer
  li
   display: flex
   line-height: 1.5;
   margin-bottom: 15px;
   color: #ffffff
   a
    color: #ffffff
    outline: none
   &:first-child
    color: $PCW
 &-contact
  margin-bottom: 5em
  li
   span
    color: $PCG
   a
    color: #000000