@import '../var'
.Post
 &-Wrapper
  margin: 2.5em 0
 &-Image
  background: none
  margin-bottom: 1.5em
  a
   display: flex
   justify-content: center
  img
   height: 450px
   border-radius: 5px
   object-fit: cover
   transition: all .3s ease
   width: 100%
   &:hover
    box-shadow: 0 0 10px rgba(0,0,0,.7)
 &-Tag
  color: $PC
  font-size: 12px
  text-transform: uppercase
  font-weight: 500
  line-height: 22px
  letter-spacing: 1px
  a
   color: inherit
 &-Title
  margin: 1.5em 0
  a
   display: block
   color: #000000
   transition: all .3s ease
  h1
   overflow: hidden
   text-overflow: ellipsis
   display: -webkit-box
   height: 66px
   line-height: 33px
   max-height: 66px
   -webkit-line-clamp: 2
   -webkit-box-orient: vertical
   font-size: 22px
   font-weight: 800
   text-transform: capitalize
   transition: all .3s ease
  &:hover
   a
    text-decoration: none
   h1
    color: $PC
 &-Description
  margin-bottom: 1.5em 
  p
   font-size: 15px
   line-height: 1.8
   font-weight: 500
   color: $PCG
 &-Content
  margin-bottom: 3em
  p
   font-size: 16px
   line-height: 1.8
   font-weight: 500
 &-Date
  margin-left: 15px
  p
   margin-bottom: 3px
 &-AuthorDateWrapper
  display: flex
  align-items: flex-end
 &-Link
  a
   display: block
   letter-spacing: 1px
   color: $PC
   text-transform: uppercase
   padding-bottom: 1.5em
   &:hover
    color: $PC
 &-Single
  .Post
   width: 100%
   &-Wrapper
    display: flex
    min-height: 100vh
    margin: 0
    .css-1ebv3k1
     margin: auto
   &-Image
    position: relative
    display: flex
    justify-content: center
    &:before
     content: ''
     position: absolute
     top: 0
     bottom: 0
     left: 0
     right: 0
     background-image: inherit
     background-size: inherit
     background-position: inherit
     filter: blur(10px)
    img
     object-fit: contain
     height: auto
     border-radius: 0
     max-height: 700px
     position: relative
     z-index: 10
     box-shadow: 0px 0px 9px 11px rgba(0, 0, 0, 0.18)
     &:hover
      box-shadow: 0px 0px 9px 11px rgba(0, 0, 0, 0.18)
.Pagination
 padding-right: 45px
 display: flex
 justify-content: flex-end
 button
  border: none
  background: none
  font-weight: bold
  font-size: 20px
  display: flex
  justify-content: center
  align-items: center
 .Current
  text-decoration: underline

